@charset 'UFT-8';
@use '../../foundation/mixin';
@use '../../foundation/variable';

.u-mg__right {
    margin: 25px 17px 0 auto;
}

.u-mg37 {
    margin-top: 37px;
    margin-bottom: 37px;
}

.u-mg__auto {
    margin: 0 auto;
}